* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}
.navbar-user {
  background-color: #204243;
  color: white;
  font-size: 1.5rem;
}
.navbar-part {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: white;
}

.identity {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
  border-right: 5%;
}

.row_card {
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  margin-top: 3rem;
}
.card a {
  text-decoration: none;
  color: white;
}
.card-title {
  background-color: #204243;
  color: white;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.card-img {
  overflow: hidden;
}

.fa {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

.calendar {
  width: 5rem;
}