* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 10rem;
}
.navbar-brand {
  color: white;
  font-size: 1.5rem;
}
.navbar-user {
  background-color: #204243;
  color: white;
  font-size: 1.5rem;
}
.navbar-home {
  background-color: #204243;
  color: white;
  font-size: 1.5rem;
}
.navbar-part {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #f4c011;
}

.identity {
  width: 5rem;
  height: 5rem;
  border-radius: 30px;
  border-right: 5rem;
}

.row_card {
  justify-content: space-evenly;
}

.card {
  width: 20rem;
  margin-top: 3rem;
}
.card a {
  text-decoration: none;
  color: white;
}
.card-title {
  background-color: #204243;
  color: white;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.card-img {
  overflow: hidden;
}

.fa {
  height: 1.5rem;
  width: 1.5rem;
  color: white;
}

footer {
  background-color: #204243;
  height: 5rem;
  width: 100%;
}

.container_location {
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.number {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.calendar {
  width: 22rem;
  border: 1px solid #204243;
  border-radius: 5px;
}

.location_photo {
  width: 30rem;
  height: 25rem;
  border-radius: 1rem;
}

.time {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  width: 22rem;
  border: 1px solid #204243;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
}

.form_room {
  border: 1px solid #204243;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  border-radius: 5px;
  width: 20rem;
  background-color: white;
}

.form_room_2 {
  margin-top: 4rem;
}

button, .btn-material {
  background-color: #f4c011 !important;
  color: white;
  border-radius: 15px;
  margin-top: 2rem;
}

.btn-material {
  color: #204243;
  margin-left: 3rem;
}

.description_room, .description_map {
  border: 1px solid #204243;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
  width: 20rem;
  background-color: white;
  overflow: hidden;
}

.img_description_map {
  width: 20rem;
  height: 100%;
}

.location_film {
  width: 30rem;
  height: 30rem;
}

.blanco {
  background-color: white;
  width: 22rem;
  border: 1px solid white;
  border-radius: 5px;
}

.form_blanco {
  background-color: white;
  width: 22rem;
  border: 1px solid #204243;
  border-radius: 5px;
}

h3 {
  background-color: #204243;
}

.container-connect {
  display: flex;
  flex-direction: row;
}

.map_connect {
  width: 20rem;
  height: 20rem;
}

.colon2 {
  width: 100%;
}

.form_zip {
  border: 1px solid #204243;
  padding: 1rem;
  border-radius: 5px;
  width: 22rem;
}