<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Admin - Calendar</title>
</head>
<body>
    <header class="header admin">
        <p class="header__title">Tableau de bord - Gestion de salles</p>
        <img class="header__profile" src="../img/Maud_en_ete.jpg" alt="profile picture">
    </header>
    <main class="admin-calendar">
        <section class="admin-calendar__content">
            <img src="../img/coworking.jpeg" alt="" class="admin-calendar__thumbnail-image">
        </section>
        <section class="admin__modal" id="modalCalendar">
            <div class="admin__modal-panel">
                <div class="admin__modal-close" id="modalCalendarClose"></div>
                <h2 class="admin__modal-title" id="modalCalendarTitle">Salle 2</h2>
                <div class="admin__modal-content">
                    <div class="admin__modal-column">
                        <h2 class="admin__modal-subtitle">Locataires</h2>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Précédent locataire : </strong><br>Les joyeux lurons</li>
                                <li class="admin__modal-item"><strong>Date : </strong>31/03/2021 de 10h30 à 16h</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>info@joyeuxlurons.be / +32477/77.77.77</li>
                            </ul>
                        </div>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Locataire actuel : </strong><br>HackBots</li>
                                <li class="admin__modal-item"><strong>Date : </strong>03/04/2021 de 13h30 à 17h</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>hello@hackbots.vc / +32477/77.77.77</li>
                                <li class="admin__modal-item"><strong>Nombre de participants : </strong>40</li>
                            </ul>
                        </div>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Prochain locataire : </strong><br>Confrérie du gay boulet</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>admin@gayboulet.be</li>
                                <li class="admin__modal-item"><strong>Date : </strong>10/04/2021 de 8h30 à 12h</li>
                            </ul>
                        </div>
                        <a class="admin__modal-link" href="">→ calendrier des locations</a>
                    </div>
                    <div class="admin__modal-column">
                        <h2 class="admin__modal-subtitle">État des lieux</h2>
                        <ul class="admin__modal-list">
                            <li class="admin__modal-item">Personnes présentes actuellement : 38</li>
                            <li class="admin__modal-item problem">Projecteur manquant</li>
                            <li class="admin__modal-item problem">2 chaise(s) manquante(s)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="admin__modal-background"></div>
        </section>
    </main>
    <script src="../js/modalCalendar.js"></script>
</body>
</html>