<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Admin - Salles</title>
</head>
<body>
    <header class="header admin">
        <ul class="header__nav-list">
            <p class="header__title">Tableau de bord - Gestion de salles</p>
            <li class="header__nav-item">
                <a href="./admin-calendar.html"><span>Calendrier</span></a>
            </li>
            <li class="header__nav-item current">
                <a href="./admin-rooms.html"><span>État des lieux</span></a>
            </li>
            <li class="header__nav-item">
                <a href="./admin-inventory.html"><span>Inventaire</span></a>
            </li>
        </ul>
        <img class="header__profile" src="../img/Maud_en_ete.jpg" alt="profile picture">
    </header>
    <main class="admin-room">
        <section class="admin-room__content">
            <div class="admin-room__thumbnail">
                <img class="admin-room__thumbnail-image" src="../img/coworking.jpeg" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Salle multifonction 1</p>
            </div>
            <div class="admin-room__thumbnail problem">
                <img class="admin-room__thumbnail-image" src="../img/coworking_at_home.png" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Salle multifonction 2</p>
            </div>
            <div class="admin-room__thumbnail">
                <img class="admin-room__thumbnail-image" src="../img/coworking_cocoon.png" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Salle multifonction 3</p>
            </div>
            <div class="admin-room__thumbnail">
                <img class="admin-room__thumbnail-image" src="../img/coworking_garden.jpg" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Parc</p>
            </div>
            <div class="admin-room__thumbnail">
                <img class="admin-room__thumbnail-image" src="../img/coworking_meeting_room.jpeg" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Salle de conférence</p>
            </div>
            <div class="admin-room__thumbnail problem">
                <img class="admin-room__thumbnail-image" src="../img/salle_de_reunion.jpeg" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Salle web</p>
            </div>
            <div class="admin-room__thumbnail">
                <img class="admin-room__thumbnail-image" src="../img/pexels-elle-hughes-2696064.jpg" alt="room thumbnail">
                <p class="admin-room__thumbnail-name">Cuisine</p>
            </div>
        </section>
        <section class="admin__modal" id="modalRoom">
            <div class="admin__modal-panel">
                <div class="admin__modal-close" id="modalRoomClose"></div>
                <h2 class="admin__modal-title" id="modalRoomTitle">Salle multifonction 2</h2>
                <div class="admin__modal-content">
                    <div class="admin__modal-column">
                        <h2 class="admin__modal-subtitle">Locataires</h2>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Précédent locataire : </strong><br>Les joyeux lurons</li>
                                <li class="admin__modal-item"><strong>Date : </strong>31/03/2021 de 10h30 à 16h</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>info@joyeuxlurons.be / +32477/77.77.77</li>
                            </ul>
                        </div>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Locataire actuel : </strong><br>HackBots</li>
                                <li class="admin__modal-item"><strong>Date : </strong>03/04/2021 de 13h30 à 17h</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>hello@hackbots.vc / +32477/77.77.77</li>
                                <li class="admin__modal-item"><strong>Nombre de participants : </strong>40</li>
                            </ul>
                        </div>
                        <div class="admin__modal-rent">
                            <ul class="admin__modal-list">
                                <li class="admin__modal-item"><strong>Prochain locataire : </strong><br>Confrérie du gay boulet</li>
                                <li class="admin__modal-item"><strong>Contact : </strong>admin@gayboulet.be</li>
                                <li class="admin__modal-item"><strong>Date : </strong>10/04/2021 de 8h30 à 12h</li>
                            </ul>
                        </div>
                        <a class="admin__modal-link" href="./admin-calendar.html">→ calendrier des locations</a>
                    </div>
                    <div class="admin__modal-column">
                        <h2 class="admin__modal-subtitle">État des lieux</h2>
                        <ul class="admin__modal-list">
                            <li class="admin__modal-item">Personnes présentes actuellement : 38</li>
                            <li class="admin__modal-item problem">Projecteur manquant</li>
                            <li class="admin__modal-item problem">2 chaise(s) manquante(s)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="admin__modal-background"></div>
        </section>
    </main>
    <script src="../js/modalRoom.js"></script>
</body>
</html>