<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.6.0/main.min.css,npm/fullcalendar@5.6.0/main.min.css"/>
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.6.0,npm/fullcalendar@5.6.0/main.min.js,npm/fullcalendar@5.6.0/locales-all.min.js,npm/fullcalendar@5.6.0/locales-all.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Admin - Calendrier</title>
</head>
<body>
    <header class="header admin">
        <p class="header__title">Tableau de bord - Calendrier</p>
        <img class="header__profile" src="../img/Maud_en_ete.jpg" alt="profile picture">
    </header>
    <main class="admin-calendar">
        <section class="admin-calendar__content">
            <!-- <img src="../img/coworking.jpeg" alt="" class="admin-calendar__thumbnail-image"> -->
            <div class="admin-calendar__calendar" id='calendar'></div>
        </section>
        <section class="admin__modal" id="modalCalendar">
            <div class="admin__modal-panel">
                <div class="admin__modal-close" id="modalCalendarClose"></div>
                <h2 class="admin__modal-title" id="modalCalendarTitle">Salle multifonction 2</h2>
                <ul class="admin__modal-largelist">
                    <li class="admin__modal-largeitem"><strong>Date : </strong>03/04/2021 de 13h30 à 17h</li>
                    <li class="admin__modal-largeitem"><strong>Locataire : </strong>HackBots</li>
                    <li class="admin__modal-largeitem"><strong>Mail : </strong>hello@hackbots.vc</li>
                    <li class="admin__modal-largeitem"><strong>Téléphone : </strong>+32477/77.77.77</li>
                    <li class="admin__modal-largeitem"><strong>Nombre de participants : </strong>40</li>
                </ul>
                <a class="admin__modal-button" href="./admin-rooms.html">État des lieux</a>
            </div>
            <div class="admin__modal-background"></div>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {
                        title: 'Chambres',
                        start: '2021-04-01',
                        end: '2021-04-05',
                        editable: true,
                        backgroundColor: "#885555"
                    },
                    {
                        title: 'Salle multifonction 2',
                        start: '2021-04-03',
                        end: '2021-04-03',
                        editable: true,
                        backgroundColor: "#558855"
                    },
                    {
                        title: 'Salle multifonction 2',
                        start: '2021-04-10',
                        end: '2021-04-11',
                        editable: true,
                        backgroundColor: "#558855"
                    },
                    {
                        title: 'Chambres',
                        start: '2021-04-11',
                        end: '2021-04-15',
                        editable: true,
                        backgroundColor: "#885555"
                    },
                    {
                        title: 'Salle multifonction 2',
                        start: '2021-04-15',
                        end: '2021-04-16',
                        editable: true,
                        backgroundColor: "#558855"
                    }
                ],
                eventClick: function(info) {
                    showModal();
                }
            });
            calendar.setOption('height', 680);
            calendar.render();
        });
    </script>
    <script src="../js/modalCalendar.js"></script>
</body>
</html>