<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Admin - Inventaire</title>
</head>
<body>
    <header class="header admin">
        <p class="header__title">Tableau de bord - Inventaire</p>
        <img class="header__profile" src="../img/Maud_en_ete.jpg" alt="profile picture">
    </header>
    <main class="admin-inventory">
        <section class="admin-inventory__content">
            <div class="admin-inventory__column" id="inventoryList">
                <h2 class="admin-inventory__subtitle">Liste du matériel</h2>
            </div>
            <div class="admin-inventory__column">
                
            </div>
        </section>
    </main>
    <script src="../js/inventory.js"></script>
</body>
</html>