<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.6.0/main.min.css,npm/fullcalendar@5.6.0/main.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.6.0,npm/fullcalendar@5.6.0/main.min.js,npm/fullcalendar@5.6.0/locales-all.min.js,npm/fullcalendar@5.6.0/locales-all.min.js"></script>
    <title>Reserve Room</title>
</head>
<body>
  <nav class="navbar navbar-expand navbar-user">
    <a class="navbar-brand" href="home.html"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-part container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="reserve_room.html">Salles</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="material.html">Location</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="connectworking.html">ConnectWorking</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="places.html">Mise à disposition</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
        <img class="identity" src="../img/Maud_en_été.jpg">
    </div>
 </nav>
 <div class="container-fluid container_location">
   <div class="row">
    <div class="col-12 col-md-6 col-lg-4 ">
      <div class="instruction h3 row"><img class="number" src="../img/1.svg"><p>Choisissez un horaire</p></div>
        <div class="blanco">
          <div class="calendar " id='calendar'></div>
        </div>
        <div class="time">
          <label for="appt">Début</label>
          <input type="time" id="appt" name="appt" min="09:00" max="18:00" required>
          <label for="end">Fin</label>
          <input type="time" id="appt" name="end" min="09:00" max="18:00" required>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="instruction h3 row"><img class="number" src="../img/2.svg"><p>Choisissez le matériel</p></div>
      <form class="form_room form_blanco">
        <div class="h3">Mobilier</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Bar
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Bureaux
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Caméra
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Rétroprojecteur
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Ordinateurs
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Vaisselle
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Amour en boîte
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
      </form>

    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <form class="form_room form_blanco form_room_2">
        <div class="h3">Multimédia</div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Bar
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Bureaux
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Caméra
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Rétroprojecteur
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Ordinateurs
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Vaisselle
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Amour en boîte
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Des bonbons à gogo
          </label>
        </div>
      </form>
      <button class="btn btn-center">Valider</button>
    </div>
    
  
          
  </div>
</div>
<footer></footer>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
          });
          calendar.setOption('height', 430);
          calendar.render();
        });
  
      </script>
</body>
</html>
